.highlight {
	--hlBackgroundColor: var(--highlight-background-color, hsl(240, 20%, 2%));
	--hlBorderThickness: var(--highlight-border-thickness, 1px);
	--hlBorderColor: var(--highlight-border-color, hsl(208, 21%, 12%));
	--hlBorderRadius: var(--highlight-border-radius, 12px);
	--hlFontFamilyMono: ui-monospace, SFMono-Regular, "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--hlFontFamilyCode: var(--highlight-font-mono, var(--hlFontFamilyMono));
	--hlCodeHighlight: var(--highlight-code-highlight, hsl(208, 19%, 13%));
	--hlLineNumberColor: var(--highlight-color-line-number, var(--color-prettylights-syntax-sublimelinter-gutter-mark));
	--hlLineNumberColorHighlighted: var(--highlight-color-line-number-highlighted, var(--color-prettylights-syntax-comment));

	background-color: var(--hlBackgroundColor);
	border: var(--hlBorderThickness) solid var(--hlBorderColor);
	border-radius: var(--hlBorderRadius);
}

.highlight:focus-within {
	outline-color: var(--hlBorderColor);
	outline-style: solid;
	outline-width: var(--hlBorderThickness);
	outline-offset: -0.125em;
}

.highlight-header {
	display: flex;
	align-items: center;
	gap: 1ch;
	border-block-end: 1px solid var(--hlBorderColor);
	padding: 0.75ch;
	font-size: 0.75em;
}

.highlight-language {
	font-family: var(--hlFontFamilyCode);
	background-color: var(--hlCodeHighlight);
	padding: 0.75ch 1ch;
	border-radius: calc(var(--hlBorderRadius) / 1.5);
}

.highlight pre {
	background-color: transparent;
	border: none;
	overflow-x: auto;
}

.highlight pre>code {
	display: grid;
	padding: 1em 0;
	cursor: auto;
	touch-action: auto;
}

.highlight pre .line {
	border-left: 2px solid transparent;
	padding-left: 1ch;
	padding-right: 1ch;
}

.highlight pre .line:focus:not(:focus-visible),
.highlight pre .line:hover {
	background-color: var(--hlCodeHighlight);
}

.highlight pre .line:focus:not(:focus-visible) .line-number,
.highlight pre .line:hover .line-number {
	color: var(--hlLineNumberColorHighlighted);
}

.highlight pre .line .line-number {
	user-select: none;
	margin-right: 1em;
	text-align: right;
	color: var(--hlLineNumberColor);
}

.highlight pre .line[data-highlighted] {
	background-color: var(--hlCodeHighlight);
	border-left-color: var(--hlLineNumberColorHighlighted);
}

.highlight pre .line[data-highlighted] .line-number {
	color: var(--hlLineNumberColorHighlighted);
}

.highlight pre .line .line-prompt::before {
	margin-right: 1ch;
	vertical-align: middle;
	content: "";
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.179 5.597C13.491 3.081 5.957 3.057 6.344 8.186c.399 5.287 11.204 1.813 11.566 7.102.369 5.375-8 5.71-11.832 2.666M12.017 2v20'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	mask-position: top center;
	mask-size: contain;
	background-color: currentColor;
	color: var(--hlLineNumberColor);
	display: inline-block;
	text-decoration: none;
	user-select: none;
	width: 1em;
	height: 1em;
	min-width: 1em;
	min-height: 1em;
}

code.hl-inline {
	--hlBackgroundColorInline: var(--highlight-background-color-inline, hsl(208, 21%, 14%));

	font-family: var(--highlight-font-mono);
	background-color: var(--hlBackgroundColorInline);
	padding-left: 0.5ch;
	padding-right: 0.5ch;
	font-size: 0.95em;
	border-radius: 0.5ch;
}
