:root {
	--hl-bg-color: hsl(220, 23%, 97%);
	--hl-border-color: hsl(215, 15%, 85%);
	--hl-outline-color: hsl(215, 15%, 70%, 0.5);

	/* add Starry Night CSS properties for light theme here */
}

@media (prefers-color-scheme: dark) {
	:root {
		--hl-bg-color: hsl(216, 18%, 11%);
		--hl-border-color: hsl(215, 11%, 22%);
		--hl-outline-color: hsl(215, 11%, 37%, 0.5);

		/* add Starry Night CSS properties for dark theme here */
	}
}
